.book_directory {
    position: relative;
}

.catalist {
    position: relative;
    padding: 12px 15px;
}

.catalist_li {
    line-height: 2em;
    height: 2em;
    padding: 5px 0px;
    display: block;
    border-bottom: 1px dotted #998D80;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grade_01 {
    composes: catalist_li;
    font-size: 16px;
    color: #979999;
    line-height: 2em;
}

.grade_02 {
    composes: catalist_li;
    text-indent: 2em;
    font-size: 14px;
    color: #979999;
    line-height: 1.8em;
}

.link {
    composes: a_reset from '../../layouts/base.css';
}


/*
.book-directory .catalist  li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}
.book-directory ul>li.grade_01 { 
    font-size:16px;
    color:#979999;
    line-height: 2em;
}
.book-directory ul>li.grade_02 {
    text-indent: 2em;
    font-size:14px;
    color:#979999;
    line-height: 1.8em;
}*/