.mode_dark{
			background: #2A2A2A;
			color:#ccc;
		}
		.aside_overlay{
			background: #000;
			position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    opacity: .6;
		    z-index: 4;
		    visibility: hidden;
			opacity: 0;
		}
		.topfixed{
			position: fixed;
			width: 100%;
			top:0;
			left:0;
		}
		.bottomfixed{
			position: fixed;
			bottom:0; 
			width:100%; 
		}
		footer{
			background:#80bd01;
			height:30px;
			padding:0px 10px ;
			color:#fff; 
			font-size:12px;  
			line-height: 30px;
			visibility: hidden;
			opacity:0;
		} 
		footer .item{
			width:20%; 
			color:#fff;
			 
		}
		.readSetSkin{
			font-size:12px;
			line-height: 20px;
		}
		.readSetSkin .item{ 
			width:22%;
			height:20px;
			border:1px solid #ccc;
			border-radius: 6px;
		}
		.readSetSkin .velours{
			background: #FFD39B;
		}
		.readSetSkin .eye{
			background: #B4EEB4;
		}
		.readSetSkin .normal{
			background: white;
		}
		.readSetSkin .soft{
			background: #ccc;
		}

		.setting_box{
			background:#80bd01; 
			padding:10px ;
			visibility: hidden;
			opacity: 0;
		}
	
		.flex_box{  
			display: -webkit-flex;
			display:flex; 
			flex-direction:row;
			justify-content:space-around; 
			flex-wrap:wrap;  
		}  
		.flex_box_column {
			display: -webkit-flex;
			display:flex; 
			flex-direction:column;
			justify-content:space-around; 
			flex-wrap:wrap;  
		}
		.subheader{
			background:#80bd01;
			height:30px;
			padding:5px 10px;
			color:#fff; 
			font-size:12px;  
			visibility: hidden;
			opacity:0;
		}
		 
		.back {
			flex-grow:1;
			-webkit-flex-grow:1;
			-moz-flex-grow:1; 
			background:url('../../images/arrow_left.png') 0  no-repeat; 
		    background-size: 10px 16px;  
		}
		.title{
			flex-grow:1;
			-webkit-flex-grow:1;
			-moz-flex-grow:1; 
			text-align: center;
			font-size:16px;
			line-height: 30px;
		}
		 
		.subheader .setting{
			flex-grow:1;
			-webkit-flex-grow:1;
			-moz-flex-grow:1;
			text-align: right;  
		}
		.subheader span{font-size:12px;line-height: 30px;}

		.read_opt_more{
			background:#80bd01;
			position: absolute;
			right:0;
			top:40px;
			font-size:12px;
			color:#fff;
			visibility: hidden;
			opacity: 0;
		}
		.active{
			visibility: visible;
			opacity: 1;
		}
		.read_opt_more li {
			font-size: 12px; 
		    height: 1.5em;
		    padding: .5em 1em
		}
		article {
			flex-grow:1;
			-webkit-flex-grow:1;
			-moz-flex-grow:1; 
		}
		article h1 {
			font-size: 1.5em;
		    font-weight: 400;
		    line-height: 1.2;
		    margin: 1em 0;
		    text-align: center;
		    padding:0 10px;
		}
		article p {
			text-indent: 2em;
			font-size:1em;
			line-height: 1.5em;
			word-break: break-all;
			margin:.1em 0;
			padding:0 10px;
		}
		aside{
			position: fixed;
			background: #fff;
			top: 0;
		    right: 0;
		    bottom: 0; 
			z-index: 5;
			overflow-y:scroll;
			width:80%; 
			visibility: hidden;
			opacity: 0;
		}
		aside h3 {
			font-size: 16px;
			line-height: 30px;
			color: #ed424b; 
			width:100%;
			text-align: center;
			border-bottom:1px solid #ed424b;
		}
		aside ul{
			overflow-y: scroll;
			width:100%; 
		} 
		aside li {
			padding:0px 1rem 0;
			color: #000; 
    		line-height: 28px;
    		font-size: 13px;  
		} 
		