/*Header*/
.search{
	float:right;  
	padding-right:10px;
}
.search_a {
	background:url('../images/search.png') 0 no-repeat; 
	color: #000;
	display: block;
	height: 40px;
	line-height: 38px;
	padding-left: 30px; 
	font-size: 14px;
} 
.header_img {
	height:40px;
}